/* app global css */
.fileInput {
  width: 600px;
}
.fullscreen {
  width: 100%;
}
.settingsButton {
  width:30px;
  z-index:3001
}
footer {
  position: absolute;
  bottom: 0;
  width: 105%;
  background-color: rgb(227, 6, 19);
  color: rgb(253, 235, 30);
}
.copyright{
  color: rgb(253, 235, 30);
  text-decoration: none;
  position: absolute;
  right: 0;
}
